<div class="texts-wrapper">
  <div class="contents-title">
    <h1 class="text-center">聖地リスト</h1>
    <div class="row">
      <% @spots.each do |spot| %>
        <div class="col-12 col-md-6 col-lg-4">
          <%= link_to spot_path(spot) do %>
            <div class="card bg-light mb-3">
              <% if spot.image? %>
                  <p><%= image_tag spot.image.url, class: "img-fluid card-img-top" %></p>
              <% end %>
              <div class="card-body">
                <h5 class="card-title text-dark"><%= spot.name %></h5>
          <% end %>
                <p class="card-title small"><%= spot.address %></p>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
 <%= paginate @spots %>