<h1>聖地詳細</h1>
<p>※このサイトでは「宇宙よりも遠い場所」の作品画像を比較目的のために引用しております。画像の著作権は『©YORIMOI PARTNERS』にあります。</p>
<p>名前 : <%= @spot.name %></p>
<p>住所 : <%= @spot.address %></p>
<p>紹介 : <%= @spot.body %></p>


<% if @spot.image_2? %>
  <h2>アニメとの比較画像</h2>
  <p><%= image_tag @spot.image_2.url %></p>
<% end %>

<h2><%= link_to 'GoogleMapを見る', @spot.url, target: :_blank, rel: "noopener noreferrer" %></h2>
<h2><%= link_to '聖地リストへ戻る', spots_path %></h2>
