<div class='top-wrapper'>
  <div class="top-inner-text top-text">
    <h1 class='text-white font-weight-bold mt-3 mb-3'>そうだ</h1>
    <h1 class='text-white font-weight-bold mt-3 mb-3'>聖地</h1>
    <h1 class='text-white font-weight-bold mt-3 mb-3'>行こう</h1>
  </div>
</div>


<%= link_to "/maps/index", class: "btn btn-warning btn-block mt-3" do %>
  <h3><i class="fa-solid fa-location-dot home-icon"></i> 聖地巡礼を開始</h3>
  <div class="small">MAPが表示されます。</div>
<% end %>

<%= link_to spots_path, class: "btn btn-warning btn-block" do %>
  <h3><i class="fa-solid fa-landmark home-icon"></i> 聖地リスト</h3>
  <div class="small">アニメとの比較画像が見れます。</div>
<% end %>

<%= link_to posts_path, class: "btn btn-warning btn-block" do %>
  <h3><i class="fa-solid fa-book-open home-icon"></i> みんなの感想</h3>
  <div class="small">聖地巡礼の感想が見れます。</div>
<% end %>

<%= link_to new_post_path, class: "btn btn-warning btn-block" do %>
  <h3><i class="fa-solid fa-pen home-icon"></i> 感想を投稿</h3>
  <div class="small">写真を撮って感想を投稿してみよう！</div>
<% end %>

<%= link_to spots_path, class: "btn btn-warning btn-block" do %>
  <h3><i class="fa-solid fa-street-view home-icon"></i> ストリートビュー</h3>
  <div class="small">見たい聖地を選択して下さい。</div>
<% end %>

<% if user_signed_in? %>
  <h3 class="text-center mt-3">さあ、聖地巡礼を楽しもう！</h3>
<% else %>
  <div class="text-center text-lg-start mt-3">
    <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-info rounded-pill' %>
    <%= link_to "簡単ログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-outline-success rounded-pill' %>
    <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-info rounded-pill' %>
  </div>
<% end %>