<h1>感想詳細</h1>
<p>【名前】 <%= @post.user.name %></p>
<p>【投稿日】<%= @post.set_date %></p>
<p>【タイトル】 <%= @post.title %></p>
<p>【感想内容】 <%= simple_format(h(@post.content)) %></p>

<% if @post.image? %>
  <p><%= image_tag @post.image.url %></p>
<% end %>
<p id="post-<%= @post.id %>">
  <% if @post.liked_by?(current_user) %>
    <%= render "like", post: @post %>
  <% else %>
    <%= render "dislike", post: @post %>
  <% end %>
  <%= @post.likes.count %>
</p>
<% if current_user.id == @post.user_id %>
  <p>
    <%= link_to "編集", edit_post_path(@post) %>
    <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "削除しますか？" } %>
  </p>
<% end %>
<p><%= link_to "投稿一覧へ", posts_path %></p>

<h2>みんなのコメント</h2>
<hr>

<% @post.comments.each do |comment| %>
  <p>名前: <%= comment.user.name %></p>
  <p>コメント<%= simple_format(h(comment.body)) %></p>
<% if current_user.id == comment.user_id %>
  <%= link_to '削除する', post_comments_path(post_id: @post, id: comment.id), method: :delete %>
<% end %>
<hr>
<% end %>

<h3>コメントを書き込む</h3>
<%= form_with model: [@post, @comment], local: true do |f| %>
  <p><%= f.text_area :body %></p>
  <%= f.submit "送信する" %>
<% end %>