<h1 class="text-center">感想詳細</h1>

<div class="row">

  <div class="col-12 col-md-6 col-lg-6">
    <% if @post.image? %>
      <p><%= image_tag @post.image.url, class: "img-fluid img-thumbnail" %></p>
    <% end %>
  </div>

  <div class="col-12 col-md-6 col-lg-6">

    <table class="table table-bordered table-striped mt-1">
      <tr><th>名前</th><td class="break-word"><%= @post.user.name %></td></tr>
      <tr><th>投稿日</th><td class="break-word"><%= @post.set_date %></td></tr>
      <tr><th>タイトル</th><td class="break-word"><%= @post.title %></td></tr>
      <tr><th>感想</th><td class="break-word"><%= simple_format(h(@post.content)) %></td></tr>
    </table>

    <% if current_user %>
      <p id="post-<%= @post.id %>">
        <% if @post.liked_by?(current_user) %>
          <%= render "like", post: @post %>
        <% else %>
          <%= render "dislike", post: @post %>
        <% end %>
        <%= @post.likes.count %>
      </p>
    <% else %>
      ☆ <%= @post.likes.count %>
    <% end %>

    <% if current_user && current_user.id == @post.user_id %>
      <p><%= link_to "編集", edit_post_path(@post), class: "btn btn-primary btn-block" %></p>
      <p><%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-block" %></p>
    <% end %>

  </div>
</div>


<h2>みんなのコメント</h2>
<hr>

<% @post.comments.each do |comment| %>
  <p class="text-info"><%= comment.user.name %></p>
  <p><%= simple_format(h(comment.body)) %></p>
<% if current_user && current_user.id == comment.user_id %>
  <%= link_to '削除する', post_comments_path(post_id: @post, id: comment.id), method: :delete, data: {confirm: "コメントを削除しますか？"}, class: "btn btn-danger" %>
<% end %>
<hr>
<% end %>

<h3>コメントを書き込む</h3>
<%= form_with model: [@post, @comment], local: true do |f| %>
  <div class="form-group">
    <p><%= f.text_area :body, class: "form-control" %></p>
  </div>
  <div>
    <p><%= f.submit "コメントする", class: "btn btn-primary btn-block" %></p>
  </div>
<% end %>
<p><%= link_to "感想一覧へ", posts_path, class: "btn btn-warning btn-block" %></p>